@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

footer {
    background-color: #81013A;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 71px;
}

.footer-container {
    display: flex;
    padding: 47px;
    gap: 68px;
    flex-wrap: wrap;
}

.footer-logo {
    padding-top: 12px;
}

.footer-logo p {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    margin-top: 16px;
}

.footer-items {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.footer-items h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 13px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-list li {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer-list li a {
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    color: #FFFFFF
}

.text-direitos {
    font-family: "Inter", sans-serif;
    font-size: 0.813rem;
    font-weight: 300;
    margin-bottom: 28px;
}
