@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8C490D;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.img-container {
    display: flex;
    background-color: #8C490D;
    width: 58%;
    position: relative;
    overflow: hidden;
}

.img-main {
    width: 100%;
    position: absolute;
    top: 60px;
    align-items: center;
    left: -240px;
    rotate: 9.9deg;
}

.logo {
    /* width: 245px; */
    position: absolute; 
    bottom: 30px; 
    left: 93px; 
}

.login-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
    z-index: 5;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family: "Inter", sans-serif;
}

.login {
    margin-left: 63px;
    width: 421px;
}

h1 {
    font-size: 4rem;
    color: #F78520;
    font-weight: Bold;
    margin-bottom: 108px;
    font-family: "DM Sans", sans-serif;
}

form label {
    display: block;
    font-size: 24px;
    color: #F78520;
    margin-bottom: 4px;
    font-weight: bold;
}

input {
    width: 421px;
    height: 40px;
    margin-bottom: 41px;
    border: 2px solid #F78520;
    border-radius: 100px;
    padding: 10px 20px;
}

input::placeholder {
    color: #F78520;
    font-size: 14px;
    opacity: 0.7;
}

.img-icon {
    position: relative;
    left: 373px;
    top: -73px;
    border: none;
    background-color: transparent;
    margin-bottom: 0px;
}

.links {
    flex-direction: column;
    text-align: center;    
}

.links p a {
    color: #F78520;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
}

.esqueceu-senha {
    margin-bottom: 14px;
    margin-top: -30px;
}

.btn-entrar {
    width: 421px;
    display: flex;
    justify-content: right;
}

.btn-entrar button {
    background-color: #F78520;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}


@media screen and (max-width: 1170px) {
    .img-main {
        width: 80%;
        left: auto;
    }

    .container {
        flex-direction: column;
        height: 1080px;
    }

    .img-container {
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .logo {
        display: none;
    }

    .login-container {
        width: 100%;
        order: 2;
        height: 900px;
        align-items: center;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }
}

@media screen and (max-width: 820px) {
    .img-container {
        height: 500px;
    }

    .img-main {
        top: 40px;        
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    label {
        font-size: 1.5rem;
    }

    input {
        width: 361px;
    }

    .btn-entrar {
        width: 361px;
        justify-content: center;
        margin-top: 35px;
    }

    .login {
        width: 361px;
        margin: 40px 16px;
    }

    .login-container {
        justify-content: start;
    }

    .img-icon {
        position: relative;
        left: 323px;
        top: -73px;
        border: none;
        background-color: transparent;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 490px) {
    .img-main {
        width: 130%;
        top: 50px;        
        left: -140px;
    }

    .img-container {
        width: 100%;
        height: 420px;
    }

    .login-container {
        height: calc(1080px - 420px);
    }

}