@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8C490D;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.img-container {
    display: flex;
    /* height: 1080px; */
    background-color: #8C490D;
    width: 58%;
    position: relative;
    overflow: hidden;
}

.img-main {
    width: 100%;
    position: absolute;
    top: 100px;
    align-items: center;
    left: 240px;
    rotate: 9.9deg;
}

.logo {
    /* width: 245px; */
    position: absolute; 
    bottom: 30px; 
    left: 93px;  
}

.login-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42%;
    z-index: 5;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family: "Inter", sans-serif;
}


h1 {
    font-size: 4rem;
    color: #F78520;
    font-weight: Bold;
    margin-bottom: 108px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

form label {
    display: block;
    font-size: 24px;
    color: #F78520;
    margin-bottom: 4px;
    font-weight: bold;
}

input {
    width: 476px;
    height: 40px;
    margin-bottom: 19px;
    border: 2px solid #F78520;
    border-radius: 100px;
    padding: 10px 20px;
}

input::placeholder {
    color: #F78520;
    font-size: 14px;
    opacity: 0.7;
}

.btn {
    width: 476px;
    display: flex;
    justify-content: right;
    margin-top: 37px;
    gap: 15.5px;
}

.btn-voltar {
    background-color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    color: #F78520;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #F78520;
}

.btn-enviar {
    background-color: #F78520;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}


@media screen and (max-width: 1270px) {
    .img-main {
        width: 100%;
        left: auto;  
        top: 40px;
    }

    .container {
        flex-direction: column;
        height: 1080px;
    }

    .img-container {
        width: 100%;
        height: 800px;
    }

    .logo {
        display: none;
    }

    .login-container {
        width: 100%;
        order: 2;
        height: 900px;
        align-items: center;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }
}

@media screen and (max-width: 820px) {
    .img-container {
        height: 500px;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    label {
        font-size: 1.5rem;
    }

    input {
        width: 361px;
    }

    .btn {
        width: 361px;
        justify-content: center;
    }

    .login {
        width: 361px;
        margin: 40px 16px;
    }

    .login-container {
        justify-content: start;
    }
}

@media screen and (max-width: 490px) {
    .img-main {
        width: 130%;
        top: 50px;        
        left: 60px;
    }

    .img-container {
        width: 100%;
        height: 500px;
    }

    .login-container {
        height: 100%;
    }

}